<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utilities.ITestListenerClass"></listener>

    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Acer/IdeaProjects/Selenium/AutomationProject/src/test/java/TestCases/LoginTestDrivenData.java">
        <classes>
            <!--<class name="TestCases.LoginTestDrivenData"></class>-->
            <!--<class name="TestCases.SearchTestCase"></class>-->
            <!--<class name="TestCases.DashBoardTestCase"></class>-->
            <class name="TestCases.PaymentTestCase"></class>
        </classes>
    </test>
</suite>